{
  "singleQuote": false,
  "tabWidth": 4,
  "printWidth": 120,
  "editor.formatOnSave": true,
  "proseWrap": "always",
  "requireConfig": false,
  "trailingComma": "none",
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "semi": true
}
