.btn_up {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  bottom: 30px;
  right: 30px;
  background: #cfe8fc;
  border-radius: 50px;
  z-index: 100;

}

.btn_chat_opened {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  //height: 50px;
  //width: 50px;
  bottom: 90px;
  right: 30px;
  background: #cfe8fc;
  border-radius: 50px;
  z-index: 100;
  .message_icon_opened {
    transition: transform 1s ease-out;
    transform: rotate(0.37turn);
  }
  .message_icon_closed {
    transition: transform 1s ease-out;
    transform: rotate(0turn);
  }
}

.btn_chat_closed {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  //height: 50px;
  //width: 50px;
  bottom: 90px;
  right: 30px;
  background: #cfe8fc;
  border-radius: 50px;
  transition: ease-in-out;
  z-index: 100;
}