@import "src/styles/index";

@include widescreen-xxl {
    .footer {
        text-align: center;
        height: 300px;
        .footer_wrap {
            display: flex;
            justify-content: space-between;
            .footer_one {
                display: flex;
                justify-content: space-between;
                gap: 100px;
                .footer_study {
                    h4 {
                        margin-bottom: 30px;
                        text-align: start;
                    }
                    ul {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        gap: 10px;
                    }
                }
                .footer_service {
                    h4 {
                        margin-bottom: 30px;
                        text-align: start;
                    }
                    ul {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        gap: 10px;
                    }
                }
            }
            .footer_two {
                display: flex;
                justify-content: space-between;
                gap: 100px;
                .footer_interesting {
                    h4 {
                        margin-bottom: 30px;
                        text-align: start;
                    }
                    ul {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        gap: 10px;
                    }
                }
                .footer_contacts {
                    h4 {
                        margin-bottom: 30px;
                        text-align: start;
                    }
                    ul {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        gap: 10px;
                        li {
                            display: flex;
                            flex-direction: column;
                            align-items: flex-start;
                            justify-content: flex-start;
                        }
                    }
                }
            }
        }
    }

    .footer_bottom {
        display: flex;
        justify-content: space-between;
        padding-top: 30px;
        width: 100%;
        border-top: 1px dotted white;
        .btn {
            width: 170px;
            height: 40px;
        }
    }
}
@include desktop-xl {
    .footer {
        text-align: center;
        height: 300px;
        .footer_wrap {
            display: flex;
            justify-content: space-between;
            .footer_one {
                display: flex;
                justify-content: space-between;
                gap: 50px;
                .footer_study {
                    h4 {
                        margin-bottom: 30px;
                        text-align: start;
                    }
                    ul {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        gap: 10px;
                    }
                }
                .footer_service {
                    h4 {
                        margin-bottom: 30px;
                        text-align: start;
                    }
                    ul {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        gap: 10px;
                    }
                }
            }
            .footer_two {
                display: flex;
                justify-content: space-between;
                gap: 50px;
                .footer_interesting {
                    h4 {
                        margin-bottom: 30px;
                        text-align: start;
                    }
                    ul {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        gap: 10px;
                    }
                }
                .footer_contacts {
                    h4 {
                        margin-bottom: 30px;
                        text-align: start;
                    }
                    ul {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        gap: 10px;
                        li {
                            display: flex;
                            flex-direction: column;
                            align-items: flex-start;
                            justify-content: flex-start;
                        }
                    }
                }
            }
        }
    }

    .footer_bottom {
        display: flex;
        justify-content: space-between;
        padding-top: 30px;
        width: 100%;
        border-top: 1px dotted white;
        .btn {
            width: 170px;
            height: 40px;
        }
    }
}
@include laptop-lg {
    .footer {
        text-align: center;
        height: 700px;
        .footer_wrap {
            display: flex;
            justify-content: flex-start;
            gap: 150px;
            .footer_one {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                gap: 50px;
                .footer_study {
                    h4 {
                        margin-bottom: 30px;
                        text-align: start;
                    }
                    ul {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        gap: 10px;
                        font-size: 14px;
                    }
                }
                .footer_service {
                    h4 {
                        margin-bottom: 30px;
                        text-align: start;
                    }
                    ul {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        gap: 10px;
                        font-size: 14px;
                    }
                }
            }
            .footer_two {
                display: flex;
                justify-content: space-between;
                gap: 50px;
                flex-direction: column;
                .footer_interesting {
                    h4 {
                        margin-bottom: 30px;
                        text-align: start;
                    }
                    ul {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        gap: 10px;
                        font-size: 14px;
                    }
                }
                .footer_contacts {
                    h4 {
                        margin-bottom: 30px;
                        text-align: start;
                    }
                    ul {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        gap: 10px;
                        font-size: 14px;
                        li {
                            display: flex;
                            flex-direction: column;
                            align-items: flex-start;
                            justify-content: flex-start;
                        }
                    }
                }
            }
        }
    }

    .footer_bottom {
        display: flex;
        justify-content: space-between;
        padding-top: 30px;
        width: 100%;
        border-top: 1px dotted white;
        .btn {
            width: 170px;
            height: 40px;
        }
    }
}
@include tablet-md {
    .footer {
        text-align: center;
        height: 700px;
        .footer_wrap {
            display: flex;
            justify-content: flex-start;
            gap: 100px;
            .footer_one {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                gap: 50px;
                .footer_study {
                    h4 {
                        margin-bottom: 30px;
                        text-align: start;
                    }
                    ul {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        gap: 10px;
                        font-size: 14px;
                    }
                }
                .footer_service {
                    h4 {
                        margin-bottom: 30px;
                        text-align: start;
                    }
                    ul {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        gap: 10px;
                        font-size: 14px;
                    }
                }
            }
            .footer_two {
                display: flex;
                justify-content: space-between;
                gap: 50px;
                flex-direction: column;
                .footer_interesting {
                    h4 {
                        margin-bottom: 30px;
                        text-align: start;
                    }
                    ul {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        gap: 10px;
                        font-size: 14px;
                    }
                }
                .footer_contacts {
                    h4 {
                        margin-bottom: 30px;
                        text-align: start;
                    }
                    ul {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        gap: 10px;
                        font-size: 14px;
                        li {
                            display: flex;
                            flex-direction: column;
                            align-items: flex-start;
                            justify-content: flex-start;
                        }
                    }
                }
            }
        }
    }

    .footer_bottom {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: space-between;
        padding-top: 30px;
        width: 100%;
        border-top: 1px dotted white;
        gap: 10px;
        .btn {
            width: 170px;
            height: 40px;
        }
    }
}
@include mobile-sm {
    .footer {
        text-align: center;
        height: 1000px;
        .footer_wrap {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            gap: 100px;
            .footer_one {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                gap: 50px;
                .footer_study {
                    h4 {
                        margin-bottom: 30px;
                        text-align: start;
                    }
                    ul {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        gap: 10px;
                        font-size: 14px;
                    }
                }
                .footer_service {
                    h4 {
                        margin-bottom: 30px;
                        text-align: start;
                    }
                    ul {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        gap: 10px;
                        font-size: 14px;
                    }
                }
            }
            .footer_two {
                display: flex;
                justify-content: space-between;
                gap: 50px;
                flex-direction: column;
                .footer_interesting {
                    h4 {
                        margin-bottom: 30px;
                        text-align: start;
                    }
                    ul {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        gap: 10px;
                        font-size: 14px;
                    }
                }
                .footer_contacts {
                    h4 {
                        margin-bottom: 30px;
                        text-align: start;
                    }
                    ul {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        gap: 10px;
                        font-size: 14px;
                        li {
                            display: flex;
                            flex-direction: column;
                            align-items: flex-start;
                            justify-content: flex-start;
                        }
                    }
                }
            }
        }
    }

    .footer_bottom {
        display: flex;
        justify-content: space-between;
        padding-top: 30px;
        width: 100%;
        border-top: 1px dotted white;
        .btn {
            width: 170px;
            height: 40px;
        }
    }
}
@include mobile-xs {
    .footer {
        text-align: center;
        height: 1000px;
        .footer_wrap {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            gap: 100px;
            .footer_one {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                gap: 50px;
                .footer_study {
                    h4 {
                        margin-bottom: 30px;
                        text-align: start;
                    }
                    ul {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        gap: 10px;
                        font-size: 14px;
                    }
                }
                .footer_service {
                    h4 {
                        margin-bottom: 30px;
                        text-align: start;
                    }
                    ul {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        gap: 10px;
                        font-size: 14px;
                    }
                }
            }
            .footer_two {
                display: flex;
                justify-content: space-between;
                gap: 50px;
                flex-direction: column;
                .footer_interesting {
                    h4 {
                        margin-bottom: 30px;
                        text-align: start;
                    }
                    ul {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        gap: 10px;
                        font-size: 14px;
                    }
                }
                .footer_contacts {
                    h4 {
                        margin-bottom: 30px;
                        text-align: start;
                    }
                    ul {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        gap: 10px;
                        font-size: 14px;
                        li {
                            display: flex;
                            flex-direction: column;
                            align-items: flex-start;
                            justify-content: flex-start;
                        }
                    }
                }
            }
        }
    }

    .footer_bottom {
        display: flex;
        justify-content: space-between;
        padding-top: 30px;
        width: 100%;
        border-top: 1px dotted white;
        .btn {
            width: 170px;
            height: 40px;
        }
    }
}
@include mobile-xxs {
    .footer {
        text-align: center;
        height: 1200px;
        .footer_wrap {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            gap: 100px;
            .footer_one {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                gap: 50px;
                .footer_study {
                    h4 {
                        margin-bottom: 30px;
                        text-align: start;
                    }
                    ul {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        gap: 10px;
                        font-size: 14px;
                    }
                }
                .footer_service {
                    h4 {
                        margin-bottom: 30px;
                        text-align: start;
                    }
                    ul {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        gap: 10px;
                        font-size: 14px;
                    }
                }
            }
            .footer_two {
                display: flex;
                justify-content: space-between;
                gap: 50px;
                flex-direction: column;
                .footer_interesting {
                    h4 {
                        margin-bottom: 30px;
                        text-align: start;
                    }
                    ul {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        gap: 10px;
                        font-size: 14px;
                    }
                }
                .footer_contacts {
                    h4 {
                        margin-bottom: 30px;
                        text-align: start;
                    }
                    ul {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        gap: 10px;
                        font-size: 14px;
                        li {
                            display: flex;
                            flex-direction: column;
                            align-items: flex-start;
                            justify-content: flex-start;
                        }
                    }
                }
            }
        }
    }

    .footer_bottom {
        display: flex;
        justify-content: space-between;
        padding-top: 30px;
        width: 100%;
        border-top: 1px dotted white;
        .btn {
            width: 170px;
            height: 40px;
        }
    }
}
