.tenderContainer {
  .grid {
    padding-bottom: 40px;
    height: 100%;
    background: #cfe8fc;
    .box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 20px;
      padding-top: 100px;
      height: 600px;
      .heading {
        padding-top: 100px;
        //margin: 0 auto 40px;
        text-align: center;
      }
      .subtitle {
        //margin: 0 auto;
        //text-align: center;
        font-size: 16px;
        max-width: 1000px;
        p {
          margin: 0 auto;
          text-align: center;
        }
      }
    }
    .btn {
      height: 50px;
      width: max-content;
    }
  }
}
